################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ZeroMQSharp/.vs/ZeroMQSharp
/ZeroMQSharp/ZeroMQSharp/bin
/ZeroMQSharp/ZeroMQSharp/obj
/ZeroMQPython/.idea
/ZeroMQPython/build/exe.win-amd64-3.11
/ZeroMQPython/Model/__pycache__
/ZeroMQSharp/.vs/ProjectEvaluation
